In [3]:
import pandas as pd

In [2]:
!pip install EDAExcelReport

Collecting EDAExcelReport
  Downloading EDAExcelReport-0.1.3-py3-none-any.whl (16 kB)
Requirement already satisfied: numpy in d:\saurabh\anaconda\anaconda\lib\site-packages (from EDAExcelReport) (1.23.5)
Requirement already satisfied: scikit-learn in d:\saurabh\anaconda\anaconda\lib\site-packages (from EDAExcelReport) (1.5.0)
Collecting datetime
  Downloading DateTime-5.5-py3-none-any.whl (52 kB)
     -------------------------------------- 52.6/52.6 kB 673.2 kB/s eta 0:00:00
Requirement already satisfied: pandas in d:\saurabh\anaconda\anaconda\lib\site-packages (from EDAExcelReport) (1.5.3)
Requirement already satisfied: openpyxl in d:\saurabh\anaconda\anaconda\lib\site-packages (from EDAExcelReport) (3.0.10)
Requirement already satisfied: pytz in d:\saurabh\anaconda\anaconda\lib\site-packages (from datetime->EDAExcelReport) (2022.7)
Requirement already satisfied: zope.interface in d:\saurabh\anaconda\anaconda\lib\site-packages (from datetime->EDAExcelReport) (5.4.0)
Requirement already satisfied: et_xmlfile in d:\saurabh\anaconda\anaconda\lib\site-packages (from openpyxl->EDAExcelReport) (1.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\saurabh\anaconda\anaconda\lib\site-packages (from pandas->EDAExcelReport) (2.8.2)
Requirement already satisfied: scipy>=1.6.0 in d:\saurabh\anaconda\anaconda\lib\site-packages (from scikit-learn->EDAExcelReport) (1.10.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\saurabh\anaconda\anaconda\lib\site-packages (from scikit-learn->EDAExcelReport) (3.5.0)
Requirement already satisfied: joblib>=1.2.0 in d:\saurabh\anaconda\anaconda\lib\site-packages (from scikit-learn->EDAExcelReport) (1.4.2)
Requirement already satisfied: six>=1.5 in d:\saurabh\anaconda\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas->EDAExcelReport) (1.16.0)
Requirement already satisfied: setuptools in d:\saurabh\anaconda\anaconda\lib\site-packages (from zope.interface->datetime->EDAExcelReport) (65.6.3)
Installing collected packages: datetime, EDAExcelReport
Successfully installed EDAExcelReport-0.1.3 datetime-5.5

In [42]:
from EDAR.excel_report import EDAExcelReport

In [43]:
trial = pd.read_csv('processed-test-final.csv')

In [44]:
trial.head()

,campaign,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,contact_telephone,poutcome_nonexistent,poutcome_success,month_cos,month_sin,day_cos,day_sin,customer
0,2.744164,0.846326,1.604731,-0.277477,0.718325,0.867536,-1,1,1,0,-0.866025,0.500000,-0.222521,0.974928,3
1,-0.194960,-0.773161,1.116642,0.748710,-1.586426,-2.191931,1,0,0,1,-0.500000,-0.866025,0.623490,0.781831,0
2,0.392865,-1.226618,-1.279765,-1.327530,-1.375852,-1.006497,-1,0,0,0,-0.500000,0.866025,1.000000,0.000000,1
3,-0.194960,-1.226618,-1.279765,-1.327530,-1.363125,-1.006497,-1,0,1,0,-0.500000,0.866025,0.623490,0.781831,0
4,-0.194960,0.846326,-0.268723,1.082817,0.776175,0.867536,-1,0,1,0,-0.866025,-0.500000,-0.222521,0.974928,3

In [45]:
bank_df = pd.read_csv(r"D:\SAURABH\spring 2024\ML_Projects\Forage_Project\pwc\data\archive\bank-additional-full.csv",delimiter=';')

In [46]:
bank_df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [47]:
bank_df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [48]:
bank_df['y'].value_counts()

no     36548
yes     4640
Name: y, dtype: int64

In [49]:
bank_df['target']=bank_df['y'].replace({'no': 0, 'yes': 1})

In [50]:
bank_df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y', 'target'],
      dtype='object')

In [51]:
ignore_col = ['contact','day_of_week','duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y']

In [52]:
EDAExcelReport(bank_df,'target','bank_df_eda.xlsx', ignore_cols=ignore_col)

Your EDA report is ready at bank_df_eda_20240610_232201.xlsx